.dialog-container {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./snowflakes.jpg") no-repeat center center;
  background-size: cover;
}

.dialog-header {
  background-color: #0894f1;
}

.fact-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
  width: 100%;
  height: 100%;
  padding: 1rem 0;
}

.fact {
  display: flex;
}

.fact-row {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  position: relative;
}

.fact-row--carol {
  align-items: baseline;
}

.fact-content {
  padding: 0.2rem 1rem;
}

.fact-label {
  font-size: 0.7rem;
  font-weight: 400;
}

.fact-text {
  font-size: 0.825rem;
  font-weight: 600;
}

.img-container {
  background-color: #0894f1;
  border-radius: 0.75rem;
  display: flex;
  width: 4rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.img-container--carol {
  margin-right: 1rem;
}

.fact-image {
  width: 2.7rem;
  height: 2.7rem;
}
