.dialog-container {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./snowflakes.jpg") no-repeat center center;
  background-size: cover;
}

.dialog-header {
  background-color: #0894f1;
}

.fact-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
  width: 100%;
  height: 100%;
  padding: 0.1rem 0;
}

.dialog-header {
  background-color: #0894f1;
}

.dialog-header > h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fact {
  display: flex;
  padding: 0.3rem;
}

.fact-row {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  position: relative;
  padding: 0.3rem;
}

.fact-row--carol {
  align-items: baseline;
}

.fact-content {
  padding: 0.1rem 0.5rem;
}

.fact-label {
  font-size: 0.4rem;
  font-weight: 400;
}

.fact-text {
  font-size: 0.6rem;
  font-weight: 600;
  max-width: 16rem;
}

.img-container {
  background-color: #0894f1;
  border-radius: 0.75rem;
  display: flex;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.img-container--carol {
  margin-right: 1rem;
}

.fact-image {
  width: 2rem;
  height: 2em;
}

.country-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
